/*@import url('./PT_Mono/stylesheet.css');*/

@import url('https://fonts.googleapis.com/css?family=Russo+One');

:root{
	--edit:Russo One; /* EDITOR FONT   */
	--expl:PT_Mono; /* EXPLORER FONT */ 
}

			.f1{
font-family: var(--edit) !important;
			}

/*
 I decided on the Brush Script MT cursive font for now. Works better for me than FlottFlott.
 	.monaco-grid-branch-node {
		
	}
*/


.view-lines {
  font-family: var(--edit) !important;
}