@import url('./PT_Mono/stylesheet.css');

:root{
	--expl:PT_Mono; /* EXPLORER FONT */ 
	--edit:PT_Mono; /* EDITOR FONT   */
}


/*
 I decided on the Brush Script MT cursive font for now. Works better for me than FlottFlott.
 	.monaco-grid-branch-node {
		
	}
*/

	
	.view-lines {
		font-family: var(--edit) !important;
	}